.container {
  box-shadow: #0000003f 0px 2px 1px -1px,
    #0000002a 0px 1px 1px 0px, #0000001a 0px 1px 3px 0px;
  margin-top: 48px;
  padding: 24px;
  border-radius: 16px;
  color: #79838e;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  .title {
    margin: 0px 0px 0.35em;
    font-family: iranyekan, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 0.642857rem;
    line-height: 1.66;
    display: block;
    color: #79838e;
  }
}

.collapse {
  &__header {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 16px;
    margin-top: 16px;
    color: #ffa82e;
    display: flex;
    align-items: center;
  }

  &__content {
    padding: 0px;
    height: 0px;
    overflow: hidden;
    transition-duration: 0.2s;
    transition-property: all;
    opacity: 0;
  }

  &__checkbox {
    display: none;
  }

  &__checkbox:checked + label + &__content {
    min-height: 180px;
    opacity: 1;
  }

  .collapse__content {
    margin-top: 16px;
    border-radius: 16px;
    color: rgb(255, 255, 255);
  }
}
