/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: iranSans;
  src: url(assets/fonts/IRANSansWeb.ttf);
}
body,
html {
  padding: 0;
  margin: 0;
}

* {
  font-family: iranSans;
}
