.container {
  margin-bottom: 16px;
  margin-top: 16px;
  padding: 16px;
  border-radius: 16px;
}

.social-title {
  color: #fff;
  margin: 0 5px;
  font-size: 14px;
}

.social-url {
  color: #fff;
  margin: 0 5px;
  font-size: 12px;
  span {
    font-size: 14px;
  }
}
